.register-form__input {
    font-size: 1.2em;
    border: none;
    border-bottom: 1px solid #888888;
    margin-bottom: 1.5em;
    padding: 0.5em;
}

.register-form__input::placeholder {
    font-size: 0.7em;
}